/* Général */

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  max-width: 100vw;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

hr {
  border-width: 0px;
}
/* =====================
      LOADER
===================== */


#se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/homepage/load.png') center no-repeat #000;
  background-size: auto 100px;
}

/* =====================
      NAVBAR
===================== */

/* nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  max-width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
  background: url('../images/nav/motif_galaxy.png');
  background-size: auto 300px;
}

nav img {
  height: 45px;
}

nav a {
  font-size: 16px;
  margin: 0px 15px;
  text-decoration: none;
  color: #ffed00;
  font-weight: normal;
  letter-spacing: .05em;
  padding: 5px;
}


nav a.menuLink::before, nav a.menuLink::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #ffed00;
  transition: width .3s;
  margin: 8px 0px;
  -webkit-transform-origin: 0% 100%;
}

nav a.menuLink:hover::after, nav a.menuLink:hover::before, nav a.menuLink.active:after, nav a.menuLink.active:before {
  width: 100%;
}



@media screen and (max-width: 920px) {
  nav {
    justify-content: center;
  }
  nav a {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
  }
  nav a {
    margin: 0px 5px;
  }


/* =====================
      BURGER MENU
===================== */


/* div.hamburger {
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 20px;
  font-size: 35px;
  z-index: 100;
  display: none;
}

@media screen and (max-width: 600px) {
  div.hamburger {
    display: block;
  }
} */

/* =====================
      HOMEPAGE
===================== */


.hide {
  display: none;
}

#home {
  max-width: 100vw;
  background: url(../images/homepage/fond_circus.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 200vh;
}

#home img {
  position: absolute;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
  max-width: 100vw;
}

 /* 3 bounces animation  */

#bounce1 {
  animation: bounce1 4s linear 2s infinite normal both;
}
@keyframes bounce1 {
  0% {transform: translate(0px, 0px);}
  25% {transform: translate(0px, -10px);}
  75% {transform: translate(0px, 10px);}
  100% {transform: translate(0px, 0px);}
}

#bounce2 {
  animation: bounce2 2s linear 2s infinite normal both;
}
@keyframes bounce2 {
  0% {transform: translate(0px, 0px);}
  25% {transform: translate(0px, -10px);}
  75% {transform: translate(0px, 10px);}
  100% {transform: translate(0px, 0px);}
}

#bounce3 {
  animation: bounce2 3s linear 2s infinite normal both;
}
@keyframes bounce2 {
  0% {transform: translate(0px, 0px);}
  25% {transform: translate(0px, -10px);}
  75% {transform: translate(0px, 10px);}
  100% {transform: translate(0px, 0px);}
}

/* Position de chaque images  */

#carte.loaded {
  height: 10vh;
  animation: carte1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes carte1 {
  0% {transform: translate(30vw, 100vh);}
  100% {transform: translate(30vw, 30vh);}
}

#cactus.loaded {
  height: 28vh;
  animation: cactus1 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes cactus1 {
  0% {transform: translate(60vw, 100vh);}
  100% {transform: translate(60vw, 70vh);}
}

#doigt_honneur.loaded {
  height: 17vh;
  animation: doigt_honneur1 6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes doigt_honneur1 {
  0% {transform: translate(3vw, 100vh);}
  100% {transform: translate(3vw, 20vh);}
}

#adobeIndesign.loaded {
  height: 10vh;
  animation: adobeIndesign1 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes adobeIndesign1 {
  0% {transform: translate(25vw, 100vh);}
  100% {transform: translate(25vw, 60vh);}
}

#adobePhotoshop.loaded {
  height: 10vh;
  animation: adobePhotoshop1 6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes adobePhotoshop1 {
  0% {transform: translate(3vw, 100vh);}
  100% {transform: translate(3vw, 3vh);}
}

#adobeIllustrator.loaded {
  height: 10vh;
  animation: adobeIllustrator1 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes adobeIllustrator1 {
  0% {transform: translate(83vw, 100vh);}
  100% {transform: translate(83vw, 7vh);}
}

#briquet.loaded {
  height: 6vh;
  animation: briquet1 6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes briquet1 {
  0% {transform: translate(60vw, 100vh);}
  100% {transform: translate(60vw, 40vh);}
}

#bouteille_eau.loaded {
  height: 20vh;
  animation: bouteille_eau1 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes bouteille_eau1 {
  0% {transform: translate(20vw, 100vh);}
  100% {transform: translate(20vw, 20vh);}
}

#bière.loaded {
  height: 14vh;
  animation: bière1 6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes bière1 {
  0% {transform: translate(15vw, 100vh);}
  100% {transform: translate(15vw, 14vh);}
}

#chat.loaded {
  height: 30vh;
  animation: chat1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes chat1 {
  0% {transform: translate(65vw, 100vh);}
  100% {transform: translate(65vw, 2vh);}
}

#chaussette.loaded {
  height: 30vh;
  animation: chaussette1 6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes chaussette1 {
  0% {transform: translate(65vw, 100vh);}
  100% {transform: translate(65vw, 40vh);}
}

#carnet.loaded {
  height: 20vh;
  animation: carnet1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes carnet1 {
  0% {transform: translate(1vw, 100vh);}
  100% {transform: translate(1vw, 60vh);}
}

#cigaretteA.loaded {
  height: 8vh;
  animation: cigaretteA1 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes cigaretteA1 {
  0% {transform: translate(15vw, 100vh);}
  100% {transform: translate(15vw, 3vh);}
}

#cigaretteB.loaded {
  height: 8vh;
  animation: cigaretteB1 6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes cigaretteB1 {
  0% {transform: translate(40vw, 100vh);}
  100% {transform: translate(40vw, 30vh);}
}

#cigaretteC.loaded {
  height: 8vh;
  animation: cigaretteC1 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes cigaretteC1 {
  0% {transform: translate(70vw, 100vh);}
  100% {transform: translate(70vw, 30vh);}
}

#culotte.loaded {
  height: 20vh;
  animation: culotte1 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes culotte1 {
  0% {transform: translate(45vw, 100vh);}
  100% {transform: translate(45vw, 70vh);}
}

#collier.loaded {
  height: 22vh;
  animation: collier1 6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes collier1 {
  0% {transform: translate(30vw, 100vh);}
  100% {transform: translate(30vw, 2vh);}
}

#couronne_fleurs.loaded {
  height: 19vh;
  animation: couronne_fleurs1 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes couronne_fleurs1 {
  0% {transform: translate(45vw, 100vh);}
  100% {transform: translate(45vw, 5vh);}
}

#clitoris.loaded {
  height: 10vh;
  animation: clitoris1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes clitoris1 {
  0% {transform: translate(40vw, 100vh);}
  100% {transform: translate(40vw, 12vh);}
}

#iPhone.loaded {
  height: 14vh;
  animation: iPhone1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes iPhone1 {
  0% {transform: translate(50vw, 100vh);}
  100% {transform: translate(50vw, 27vh);}
}

#jetable.loaded {
  height: 7vh;
  animation: jetable1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes jetable1 {
  0% {transform: translate(25vw, 100vh);}
  100% {transform: translate(25vw, 50vh);}
}

#kiki.loaded {
  height: 17vh;
  animation: kiki1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes kiki1 {
  0% {transform: translate(90vw, 100vh);}
  100% {transform: translate(90vw, 70vh);}
}

#tasse.loaded {
  height: 7vh;
  animation: tasse1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes tasse1 {
  0% {transform: translate(55vw, 100vh);}
  100% {transform: translate(55vw, 25vh);}
}

#lierre.loaded {
  height: 25vh;
  animation: lierre1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes lierre1 {
  0% {transform: translate(8vw, 100vh);}
  100% {transform: translate(8vw, 33vh);}
}

#livre.loaded {
  height: 10vh;
  animation: livre1 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes livre1 {
  0% {transform: translate(22vw, 100vh);}
  100% {transform: translate(22vw, 80vh);}
}

#lunettes.loaded {
  height: 5vh;
  animation: lunettes1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes lunettes1 {
  0% {transform: translate(25vw, 100vh);}
  100% {transform: translate(25vw, 90vh);}
}

#MacBook.loaded {
  height: 40vh;
  animation: MacBook1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes MacBook1 {
  0% {transform: translate(80vw, 100vh);}
  100% {transform: translate(80vw, 20vh);}
}

#parfum.loaded {
  height: 15vh;
  animation: parfum1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes parfum1 {
  0% {transform: translate(35vw, 100vh);}
  100% {transform: translate(35vw, 57vh);}
}


#photoA.loaded {
  height: 10vh;
  animation: photoA1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes photoA1 {
  0% {transform: translate(77vw, 100vh);}
  100% {transform: translate(77vw, 92vh);}
}


#photoL.loaded {
  height: 10vh;
  animation: photoL1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes photoL1 {
  0% {transform: translate(17vw, 100vh);}
  100% {transform: translate(17vw, 92vh);}
}


#photoK.loaded {
  height: 10vh;
  animation: photoK1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes photoK1 {
  0% {transform: translate(55vw, 100vh);}
  100% {transform: translate(55vw, 7vh);}
}


#rouge.loaded {
  height: 7vh;
  animation: rouge1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes rouge1 {
  0% {transform: translate(40vw, 100vh);}
  100% {transform: translate(40vw, 80vh);}
}


#pinceau1.loaded {
  height: 15vh;
  animation: pinceau1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes pinceau1 {
  0% {transform: translate(2vw, 100vh);}
  100% {transform: translate(2vw, 85vh);}
}


#pinceau2.loaded {
  height: 12vh;
  animation: pinceau2 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes pinceau2 {
  0% {transform: translate(93vw, 100vh);}
  100% {transform: translate(93vw, 3vh);}
}


#tablette.loaded {
  height: 25vh;
  animation: tablette1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes tablette1 {
  0% {transform: translate(65vw, 100vh);}
  100% {transform: translate(65vw, 60vh);}
}

#vase.loaded {
  height: 20vh;
  animation: vase1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes vase1 {
  0% {transform: translate(85vw, 100vh);}
  100% {transform: translate(85vw, 80vh);}
}

#capsule01.loaded {
  height: 5vh;
  animation: capsule011 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes capsule011 {
  0% {transform: translate(23vw, 100vh);}
  100% {transform: translate(23vw, 5vh);}
}

#capsule02.loaded {
  height: 5vh;
  animation: capsule021 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes capsule021 {
  0% {transform: translate(40vw, 100vh);}
  100% {transform: translate(40vw, 50vh);}
}

#capsule03.loaded {
  height: 5vh;
  animation: capsule031 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes capsule031 {
  0% {transform: translate(65vw, 100vh);}
  100% {transform: translate(65vw, 37vh);}
}

#chouchou.loaded {
  height: 8vh;
  animation: chouchou1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes chouchou1 {
  0% {transform: translate(60vw, 100vh);}
  100% {transform: translate(60vw, 50vh);}
}

#converse.loaded {
  height: 13vh;
  animation: converse1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes converse1 {
  0% {transform: translate(2vw, 100vh);}
  100% {transform: translate(2vw, 42vh);}
}

#tétine.loaded {
  height: 7vh;
  animation: tétine1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes tétine1 {
  0% {transform: translate(45vw, 100vh);}
  100% {transform: translate(45vw, 92vh);}
}

#Metro_Lyon01.loaded {
  height: 5vh;
  animation: Metro_Lyon011 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes Metro_Lyon011 {
  0% {transform: translate(35vw, 100vh);}
  100% {transform: translate(35vw, 47vh);}
}

#Metro_Lyon02.loaded {
  height: 5vh;
  animation: Metro_Lyon021 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes Metro_Lyon021 {
  0% {transform: translate(62vw, 100vh);}
  100% {transform: translate(62vw, 20vh);}
}

#Metro_Paris01.loaded {
  height: 5vh;
  animation: Metro_Paris011 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes Metro_Paris011 {
  0% {transform: translate(10vw, 100vh);}
  100% {transform: translate(10vw, 12vh);}
}

#Metro_Paris02.loaded {
  height: 7vh;
  animation: Metro_Paris021 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes Metro_Paris021 {
  0% {transform: translate(12vw, 100vh);}
  100% {transform: translate(12vw, 89vh);}
}

#Metro_Paris03.loaded {
  height: 7vh;
  animation: Metro_Paris031 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes Metro_Paris031 {
  0% {transform: translate(92vw, 100vh);}
  100% {transform: translate(92vw, 15vh);}
}

#collier_perles.loaded {
  height: 14vh;
  animation: collier_perles1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes collier_perles1 {
  0% {transform: translate(92vw, 100vh);}
  100% {transform: translate(92vw, 52vh);}
}

#thé.loaded {
  height: 9vh;
  animation: thé1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes thé1 {
  0% {transform: translate(34vw, 100vh);}
  100% {transform: translate(34vw, 80vh);}
}

#parfum2.loaded {
  height: 15vh;
  animation: parfum21 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes parfum21 {
  0% {transform: translate(70vw, 100vh);}
  100% {transform: translate(70vw, 85vh);}
}

#app_photo_vintage.loaded {
  height: 11vh;
  animation: app_photo_vintage1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes app_photo_vintage1 {
  0% {transform: translate(12vw, 100vh);}
  100% {transform: translate(12vw, 76vh);}
}

#poupee_russe.loaded {
  height: 13vh;
  animation: poupee_russe1 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1S 1 normal both;
}
@keyframes poupee_russe1 {
  0% {transform: translate(74vw, 100vh);}
  100% {transform: translate(74vw, 53vh);}
}


/* position fixe du logo  */
#logo.loaded {
  height: 30vh;
  animation: logo1 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0S 1 normal both;
}
@keyframes logo1 {
  0% {transform: translate(calc(50vw - 30%), 100vh);}
  100% {
    transform: translate(calc(50vw - 30%), calc(50vh - 50%));
    /* position: fixed; */
  }
}

/* position écran 2  */
#roses {
  height: 50vh;
  transform: translate(calc(50vw - 50%), 115vh);
}

#bandeau {
  height: 25vh;
  transform: translate(calc(50vw - 50%), 168vh);
}

#subpapier {
  height: 7vh;
  display: none;
}

/* réduction Home pour téléphone */

@media screen and (max-width:600px) {

  #lierre, #couronne_fleurs, #tablette {
    display: none;
  }

  #logo {
    height: 20vh;
  }

  #roses {
    height: 30vh;
  }
  #bandeau {
    height: 15vh;
  }

  #subpapier {
    height: 4vh;
  }
}



/* =====================
      cameleon
===================== */

#cameleon {
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  background-color: #0F7988;

}

#CAM{
  position: relative;
  height: 100vh;
}

img.superpose {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  max-width: 330%;
}

img.superpose2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 8;
}

#CAMcorps {
   z-index: 14;
}
#CAMpupille {
   z-index: 14;
}
#CAMmachoire {
   z-index: 11;
   transform-origin: 17.5% 25%;
}

#langueBox {
  overflow: hidden;
  position: absolute;
  width:0px;
  height: 6%;
  z-index: 13;
  transform-origin: 0 50%;
  border-radius: 50% 0px 0px 50%;
}

#CAMlangue {
  height: 100%;
  float:right;
  clear:right;
}


.eatMouth {
  animation: mouthAnim 0.5s ease;
}

@keyframes mouthAnim {
  0%   {
    transform: rotate(0deg);
  }
  50%  {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width:600px) {
  #langueBox {
    height: 4%;
  }
}

.mouche {
  height: 100%;
  position: absolute;
}

.moucheB {
  height: 10%;
  position: absolute;
  z-index: 16;
}

.mouche1 {
  animation: fly 4s ease-in-out infinite, fly-rotate1 4s ease-in-out infinite;
}
.mouche1B{
  animation: move1 23s ease-out forwards;
}


.mouche2 {
  animation: fly 4s ease-in-out infinite, fly-rotate2 4s ease-in-out infinite;
}
.mouche2B{
  animation: move2 27s ease-out forwards;
}



.hideMouche {
  display: none;
}

@keyframes fly {
	0% {
    margin-top:0px;
	}
    50% {
		margin-top:30px;
	}

    100% {
		margin-top:0px;
	}
}

@keyframes fly-rotate1 {
	0% {
         transform:rotate(0deg);
	}
    25% {
         transform:rotate(30deg);
	}
    75% {
        transform:rotate(-30deg);
	}
    100% {
        transform:rotate(0deg);
	}
}

@keyframes fly-rotate2 {
	0% {
         transform:rotate(0deg);
	}
    25% {
         transform:rotate(-30deg);
	}
    75% {
        transform:rotate(30deg);
	}
    100% {
        transform:rotate(0deg);
	}
}

@keyframes move1 {
	0% {
    transform: translate(-10vw) ;
	}
    100% {
		 transform: translate(110vw);
	}
}


@keyframes move2 {
	0% {
    transform: translate(100vw) ;
	}
    100% {
		 transform: translate(-10vw);
	}
}

/* =====================
Contact
===================== */

#contact {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

#contact::after {
  content: "";
  background: url('../images/homepage/fond.png');
  background-size: auto 800px;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#hideK {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  z-index: 1000;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#hideK img {
  margin: 0px;
  width: 5%;
  height: 5%;
  z-index: 10000;

  /* box-shadow: -5px 5px 0px black; */
}

#hideK img#bravo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  left: 0;
  right: 0;
  width: auto;
  height: 50vh;
  z-index: 100000;
  display: none;

  /* box-shadow: -5px 5px 0px black; */
}

.kMoove {
  opacity: 0;
  z-index: -1000;
}


#contactInfos {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contactInfos img {
  align-self: center;
  max-width: 95vw;
}

#band {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

#noms {
  height: 10vh;
}

#mailK {
  height: 10vh;
  margin-top: 40px;
}

#num {
  height: 8vh;
  margin-top: 40px;
}

#band {
  height: 25vh;
}

@media screen and (max-width:900px) {
  #hideK img {
    width: 6.25%;
    height: 6.25%;
  }
  #noms {
    height: 6vh;
  }

  #mailK {
    height: 6vh;
  }

  #num {
    height: 6vh;
  }
  #band {
    height: 17vh;
  }
}


@media screen and (max-width:600px) {
  #hideK img {
    width: 10%;
    height: 10%;
  }
}


/* =====================
      FOOTER
===================== */
footer {
  height: 11vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
}

.footer  {
  align-self: center;
  margin: 10px 15px;
}

.footer img {
  max-height: 7vh;
  max-width: 100vw;
}


/* =====================
      catalogue
===================== */

#catalogue {
  max-width: 100vw;
  background: url(../images/catalogue/fond2.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#catalogue a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#catalogue a img {
  align-self: center;
  max-width: 95vw;
}

#doigt:hover {
  animation: shake 0.01s cubic-bezier(0,.74,.91,.41) 0S infinite normal;
}

#doigt, #animation {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}
